/* DECLARO VARIABLES DE LOS COLORES PARA FACILITAR EL TRABAJO Y CREAR UNIFORMIDAD */
:root {
    --oscuro: #1a1927;
    --oscuro-ligero: #20222e;
    --blanco: #fafafa;
    --blanco-secundario: #aaaaaa;
    --boton:#00b0ff;
}

/* ELIMINAMOS MARGIN, PADDING Y BORDER QUE TIENE EL NAVEGADOR POR DEFECTO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PASAMOS EL TAMAÑO DE LA FUENTE DEL HTML A MEDIDAS 62.5% PARA TRABAJAR MAS SENCILLO CON MEDIDAS REM */
html {
    font-size: 62.5%;
    font-family: 'Lora', serif;
}

html h2 {
    font-weight: bold;
}

body {
    display: flex;
}

.inactivo {
    display: none;
}

.activo {
    display: block;
}

/* ESTILOS AL ASIDE */
aside {
    width: 200px;
    height: 100vh;
    background-color: var(--oscuro-ligero);
}

.titulo {
    color: var(--blanco);
    margin: 20px 0 20px 15px;
    cursor: pointer;
}

.subtitulo {
    color: var(--blanco-secundario);
    margin: 0 0 20px 15px;
    font-size: 2rem;
}

.contenedor-nav {
    margin-left: 15px;
    margin-bottom: 30px;
}

.contenedor-nav ul {
    list-style: none;
}

.contenedor-nav ul li {
    padding-bottom: 8px
}

.contenedor-nav ul li img {
    margin-right: 3px;
}

.contenedor-nav ul li a {
    text-decoration: none;
    color: var(--blanco-secundario);
    font-size: 1rem;
}

.contenedor-generos {
    font-size: 1rem;
    color: var(--blanco-secundario);
}

.contenedor-generos ul li {
    padding-bottom: 2px;
    margin: 0 0 10px 15px;
    list-style: none;
}

#electronica, #reggaeton, #bachata, #vallenato, #salsa, #rock  {
    cursor: pointer;
}

.modulo-texto {
    margin:  20px 0 10px 15px;
    color: var(--blanco-secundario);
}

.parrafo-modulo {
    padding: 10px 15px;
    line-height: 14px;
    color: var(--blanco-secundario);
}

/* ESTILOS AL MAIN */
main {
    background-color: var(--oscuro);
    width: 100%;
} 

.contenedor-principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
  }

.contenedor-principal h2 {
    color: var(--blanco);
    margin: 30px 0 12px 0;
    font-size: 2rem;
}

.generos {
    display: flex; 
}

.generos div img {
    border-radius: 10px;
    margin-left: 18px;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75); 
}

/* CARRUSEL */
.contenedor-carrusel {
    overflow: hidden;
}

.carrusel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 900px;
    transition: transform 3.0s ease-in-out;
    cursor: pointer;
}

.contenedor-atras {
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
  }

.atras {
    border: 0.5px solid var(--oscuro-ligero);
}  

.contenedor-siguiente {
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.siguiente {
    border: 0.5px solid var(--oscuro-ligero);
}

.generos-nombre {
    text-align: center;
    color: var(--blanco);
    margin-top: 4px;
}

.canciones-recientes {
    display: flex;
    margin-bottom: 20px;
    gap: 18px;
}

.canciones-recientes div img {
    border-radius: 10px;
}

.canciones-recientes div h4 {
    text-align: center;
    color: var(--blanco);
    margin-top: 4px;
}

.canciones-recientes div h5 {
    text-align: center;
    color: var(--blanco-secundario);
}

/* ESTILOS A LAS LISTAS DE REPRODUCCION */
.contenedor-lista-reproduccion{
    display: flex;
    width: 100%;
    border: none;
    border: 0.5px solid var(--oscuro-ligero);
    justify-content: space-between;
    align-items: center;
}

.contenedor-lista-reproduccion:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.contenedor-descripcion {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.contenedor-imagen {
    width: 200px;
    height: 200px;
    margin: 60px 0 20px 60px;
}

.imagen-genero {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.descripciones {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 90px 0 20px 20px;
}

.icono-play {
    margin-left: 10px;
}

.lista {
    font-size: 1.1rem;
    color:var(--blanco-secundario);
}

.tipo-musica {
    color: var(--blanco);
    font-size: 3rem;
}

.descripcion-genero {
    font-size: 1.3rem;
    color: var(--blanco);
}

.nombre-cancion {
    font-size: 1.5rem;
    padding: 16px;
    color: var(--blanco);
}

.nombre-artista {
    font-size: 1.5rem;
    padding: 16px;
    color: var(--blanco);
}

.duracion {
    font-size: 1.5rem;
    padding: 16px;
    color: var(--blanco);
}

.contenedor-audio {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 26px;
    border-radius: 20px;
}

audio {
    width: 600px;
    -webkit-box-shadow: 7px 10px 19px 0px rgba(0,176,255,1);
    -moz-box-shadow: 7px 10px 19px 0px rgba(0,176,255,1);
    box-shadow: 7px 10px 19px 0px rgba(0,176,255,1);
    border-radius: 40px;
    border: 3px solid var(--boton);
}









