<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/styles.css">
    <title>lista de reproduccion</title>
</head>
<body>
    

    <div class="lista-reproduccion">
        <div class="contenedor-descripcion">
            <div class="contenedor-imagen">
                <img class="imagen-genero" src="../assets/img/reggaeton.jpg" alt="">
            </div>
            <div class="descripciones">
                <p class="lista">Lista de reproducción</p>
                <h2 class="tipo-musica">Música Reggaton</h2>
                <p class="descripcion-genero">La mejor música para escuchar y bailar</p>
            </div>
        </div>
        <div class="contenedor-lista-reproduccion">
            <img class="icono-play" src="../assets/iconos/icono-play.png" width="30" height="30" alt="">
            <p class="nombre-cancion">Amarillo</p>
            <p class="nombre-artista">J Balvin</p>
            <p class="duracion">2:45</p>
        </div>
        <div class="contenedor-lista-reproduccion">
            <img class="icono-play" src="../assets/iconos/icono-play.png" width="30" height="30" alt="">
            <p class="nombre-cancion">Hawuai</p>
            <p class="nombre-artista">Maluma</p>
            <p class="duracion">3:18</p>
        </div>
        <div class="contenedor-lista-reproduccion">
            <img class="icono-play" src="../assets/iconos/icono-play.png" width="30" height="30" alt="">
            <p class="nombre-cancion">Mix Reggaeton</p>
            <p class="nombre-artista">Varios artistas</p>
            <p class="duracion">8:00</p>
        </div>
        <div class="contenedor-lista-reproduccion">
            <img class="icono-play" src="../assets/iconos/icono-play.png" width="30" height="30" alt="">
            <p class="nombre-cancion">Otro trago</p>
            <p class="nombre-artista">Sech</p>
            <p class="duracion">3:50</p>
        </div>
    </div>
</body>
</html>